.main-menu {
  margin: auto;
  width: 1200px;
  position: relative;
  /*&:after {
    content: '';
    display: block;
    width: 92px;
    height: 157px;
    position: absolute;
    top: 0;
    left: -92px;
    background:url("../img/after.png") no-repeat;
  }
  &:before {
    content: '';
    display: block;
    width: 92px;
    height: 157px;
    position: absolute;
    top: 0;
    right: -96px;
    background:url("../img/after.png") no-repeat;
  }*/
  &_img {
    position: relative;
    display: inline-block;
  }
  &_title {
    position: absolute;
    top: 10px;
    left: 553px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 28px;
  }
  &_item {
    width: 222px;
    min-height: 237px;
    margin-left: 16px;
    vertical-align: top;
    display: inline-block;
    &.img-1 {
      background: url("../img/cook-1.png") no-repeat 0 0;
    }
    &.img-2 {
      background: url("../img/cook-2.png") no-repeat 0 0;
    }
    &.img-3 {
      background: url("../img/cook-3.png") no-repeat 0 0;
    }
    &.img-4 {
      background: url("../img/cook-4.png") no-repeat 0 0;
    }
  }
  &_list {
    width: 1152px;
    margin: auto;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 226px;
    left: 15px;
  }
  &_link {
    display: block;
    background: #984abc;
    min-height: 15px;
    text-align: center;
    color: #ffffff;
    font-size: 23px;
    font-weight: normal;
    width: 222px;
    height: 71px;
    margin-top: -100px;
    padding: 30px 0 0 0;
  }
}