.nav__navigation {
  text-align: center;
  .nav__main {
    margin: auto;
    width: 945px;
  }
    .nav__list {
      padding: 0 ;
    }
  .nav__item {
    list-style-type: none;
    display: inline-block;
    margin-left: 19px;
    &:first-child {
      margin-left: 0;
    }
  }
  .nav__link {
      text-decoration: none;
      color: #000000;
      text-transform: uppercase;
      font-size: 18px;
      display: block;
      padding: 14px 14px;
      transition: 0.5s;
      position: relative;
      &:hover {
        background-color: #ffffff;
        &:after {
          content: '';
          display: block;
          border: 11px solid transparent;
          border-top: 8px solid #ffffff;
          position: absolute;
          left: 43%;
          top: 100%;
        }
      }
  }
  .nav__list {
    display: inline-block;
    margin: 0;
  }
}
.main-img {
  margin-bottom: 24px;
}