@import "mixins";
@import 'compass';
@import "normalize";



@import "header";
@import "navigation";
@import "tabs";
@import "main-section";
@import "main-menu";
@import "slider";

@import "footer";

.app {
  min-height: 2978px;
}
.wrapper {
  background-color: #cccccc;
  max-width: 1200px;
  margin: auto;
}
