footer.footer
    img(src="img/contact.jpg" alt="").footer_img
    h2.footer_title Контакты
    article.footer_contact.clearfix
        section.footer_section
            p.footer_adress.
                Адрес: Ленинградский проспект 24 а (ст.м.<br> Белорусская) Заезд с улицы Правды д.3,<br> сразу за Спортивным Комплексом " Крылья<br> Советов"!!!
            p.footer_article Телефон для поставщиков:
            a(href="tel:8(963)7573763").footer_phone 8(963)757-37-63 <span class="footer_article"> с 10:00 до 18:00</span><br>
            a(href="mailto:6136201@mail.ru").footer_email e-mail 6136201@mail.ru<br>
            .footer_maps
                a(href="#").footer_search
                    img(src="img/map.jpg").footer_map
        section.footer_info
            p.footer_tel многоканальныe<br> телефоны:
            a(href="tel:8(495)6136201").footer_numder 8 (495) 613-62-01<br>
            a(href="tel:8(495)6376800").footer_numder 8 (495) 637-68-00
            a(href="#").footer_text Забронировать стол
                .triangle-right
        nav.footer__nav
            ul.footer__list
                each item in ['Банкеты', 'Корпоративы', 'Свадьбы', 'Фуршеты', 'Праздники']
                    li.footer__item
                        a(href="#").footer__link=item
