head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Leningrad
    link(href="css/jquery.bxslider.css" rel="stylesheet")
    link(rel="stylesheet" href="css/main.css")


