section.main-menu
    img(src="img/menu-img.png" alt="img").main-menu_img
    h2.main-menu_title Меню
    ul.main-menu_list
        li.main-menu_item.img-1
            span.main-menu_link Японская <br> кухня
        li.main-menu_item.img-2
            span.main-menu_link Итальянская<br> кухня
        li.main-menu_item.img-3
            span.main-menu_link Ланч
        li.main-menu_item.img-4
            span.main-menu_link Бар
