section.main-menu
    img(src="img/menu-img.png" alt="img").main-menu_img
    h2.main-menu_title Меню
    ul.main-menu_list
        li.main-menu_item
            a(href="#").main-menu_link Японская <br> кухня
        li.main-menu_item
            a(href="#").main-menu_link Итальянская<br> кухня
        li.main-menu_item
            a(href="#").main-menu_link Ланч
        li.main-menu_item
            a(href="#").main-menu_link Бар
    .main-menu_cook
        img(src="img/cook-1.png" alt="").main-menu_eat
        img(src="img/cook-2.png" alt="").main-menu_eat
        img(src="img/cook-3.png" alt="").main-menu_eat
        img(src="img/cook-4.png" alt="").main-menu_eat