.nav__navigation
    .nav__main
        ul.nav__list
            li.nav__item
                a(href="#").nav__link меню
            li.nav__item
                a(href="#").nav__link фото/видео
            li.nav__item
                a(href="#").nav__link ресторан
            li.nav__item
                a(href="#").nav__link клуб
            li.nav__item
                a(href="#").nav__link караоке
            li.nav__item
                a(href="#").nav__link банкеты
            li.nav__item
                a(href="#").nav__link контакты
    img(src="../img/nav-img.jpg" alt="img").main-img
