section.main_slider
    img(src="img/slider-img.jpg" alt="").main_post
    h2.main_slider_h2 Фото &amp; Видео
    img(src="img/slider.jpg" alt="").main_slider_slider
    .main_arrow
        a(href="#").main_prew prew
        a(href="#").main_next next
    nav.main_slider-nav
        ul.main_slider-list
            li.main_slider-item
                a(href="#").main_slider-link Банкетный зал
            li.main_slider-item
                a(href="#").main_slider-link Ресторан
            li.main_slider-item
                a(href="#").main_slider-link Вип-зал
            li.main_slider-item
                a(href="#").main_slider-link Летняя веранда
            li.main_slider-item
                a(href="#").main_slider-link Зимний сад
            li.main_slider-item
                a(href="#").main_slider-link Клуб
            li.main_slider-item
                a(href="#").main_slider-link Караоке
    .main_slider-image
            img(src="img/image.jpg").main_slider-img
    .main_slider-text
        p.main_slider-article.
            Ресторан клуба LeninGrad рассчитан на 60 посадочных мест. Его интерьер напомнит Вам библиотеку, где на полках расположились старые добрые книги, по залу всегда разливаются звуки живой музыки, а тактичный и внимательный персонал не заставит Вас ждать и поможет в выборе блюд по Вашему вкусу. Шеф-повар ресторана LeninGrad всегда порадует Вас блюдами изысканной европейской и авторской кухни.<br>
            В банкетном зале уместно любое торжество: фуршет, романтичная свадьба, официальный банкет, день рождения, корпоративная вечеринка или юбилей.<br>
            В нашем гостеприимном ресторане Вас угостят самыми изысканными блюдами, предложат меню авторской и европейской кухни и удивят экзотической японской кухней. Кальяны представленны изысканным разнообразием табака и искусным авторским оформлением. С удовольствием предлагаем Вам ассортиментный ряд вин из Франции,Италии, Испании и крепких спиртных напитков, а мы, в свою очередь, постараемся помочь Вам сделать правильный выбор. Ресторан клуба LeninGrad рассчитан на 60 посадочных мест. Его интерьер напомнит Вам библиотеку, где на полках расположились старые добрые книги, по залу всегда разливаются звуки живой музыки, а тактичный и внимательный персонал не заставит Вас ждать и поможет в выборе блюд по Вашему вкусу. Шеф-повар ресторана LeninGrad всегда порадует Вас блюдами изысканной европейской и авторской кухни.<br>
            В банкетном зале уместно любое торжество: фуршет, романтичная свадьба, официальный банкет, день рождения, корпоративная вечеринка или юбилей.
