section.tabs_content
    ul.tabs_list-first
        li.tabs_item
            a(href="#").tabs_link Апрель
        li.tabs_item.active
            a(href="#").tabs_link.active Май
    ul.tabs_list-second

        - var count = 1
        - for (var x = 0; x < 4; x++)

            each val in ['Чт', 'Пт', 'Сб', 'Вс', 'Пн', 'Вт', 'Ср']
                li.tabs_list-item
                    span.tabs_list-link=val
                    span.tabs-list__date=count++
        li.tabs_list-item
            span.tabs_list-link Чт
            span.tabs-list__date 29
        li.tabs_list-item
            span.tabs_list-link Пт
            span.tabs-list__date 30
        li.tabs_list-item
            span.tabs_list-link Сб
            span.tabs-list__date 31
