doctype
html
    include _head.jade
    body
        .app
            .wrapper
                a(href="#").up-button Вверх
                include _header.jade
                include _navigation.jade
                include _tabs.jade
                include _main-section.jade
                include _main-menu.jade
                include _slider.jade

                include _footer.jade

            include _scripts.jade

